.container-dialog {
  padding-bottom: 10px;
}
// .title-center {
//   flex: 1 1 auto;
//   text-align: center;
//   color: rgb(36, 34, 34);
//   padding-top: 3rem;
// }

mat-form-field {
  padding: 5px;
}
.dashboard-title {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  color: rgb(36, 34, 34);
}
.container {
  padding-bottom: 2rem;
}
