<div class="container">
    <h2 class="dashboard-title">{{dialogData.action}} Product</h2>


    <mat-dialog-content class="mat-typography">
        <form [formGroup]="productForm">
            <div fxFlex fxLayout="column">
                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required="">
                        <mat-error *ngIf="productForm.controls.name.touched && productForm.controls.name.invalid">
                            <span *ngIf="productForm.controls.name.errors?.required">This is field is mandatory.</span>
                            <span *ngIf="productForm.controls.name.errors?.pattern">This is field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="price" required="">
                        <mat-error *ngIf="productForm.controls.price.touched && productForm.controls.price.invalid">
                            <span *ngIf="productForm.controls.price.errors?.required">This is field is mandatory.</span>
                            <span *ngIf="productForm.controls.price.errors?.pattern">This is field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option *ngFor="let  category of categories"
                                [value]="category.id">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" required="">
                        <mat-error
                            *ngIf="productForm.controls.description.touched && productForm.controls.description.invalid">
                            <span *ngIf="productForm.controls.description.errors?.required">This is field is
                                mandatory.</span>
                            <span *ngIf="productForm.controls.description.errors?.pattern">This is field is
                                invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
            [disabled]="productForm.invalid">{{dialogData.action}}</button>
        <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>