.float-right {
  width: 10rem;
}

mat-card {
  padding: 20px;
}

table {
  width: 100%;
}

.dashboard-title {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  padding: 5px;
}

mat-card {
  padding-bottom: 30px;
}
